@{
  Layout = "~/Views/_Layout.cshtml";
}

<base href="/Groups">

<main ng-app="admin" ng-include="'/Admin/Download.html'" ng-controller="DownloadController as vm" ng-show="vm.siteGroups"></main>

<ul>
  @foreach (var key in ViewData) {
    <li>@key.Key: @key.Value</li>
  }
</ul>

@section Scripts {
  <script src="~/Scripts/jquery-2.1.4.min.js"></script>
  <script src="~/Scripts/angular.min.js"></script>
  <script src="~/Scripts/angular-cookies.min.js"></script>
  <script src="~/Scripts/moment.min.js"></script>
  <script src="~/Scripts/angular-moment.min.js"></script>
  <script src="~/Shared/Scripts/Admin/admin.js"></script>
  <script src="~/Admin/Download.html.js"></script>
  <script src="~/Shared/Scripts/Admin/ngFacebook.js"></script>
}
