html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: #404040;
}

body {
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
}

h1 {
  font-size: 1.6rem;
}

aside.metadata {
  position: absolute;
  left: 750px;
  top: 150px;
  width: 250px;
  padding: 15px;
  background-color: #e7edf7;
  border: 1px solid #d9dde4;
  border-radius: 3px;
}

header.title {
  margin: 0px;
  padding: 10px;
  background-color: #404040;
  font-size: 1rem;
  color: #ebebeb;
}

header.title a {
  color: #ebebeb;
}

main {
  margin: 25px;
}

a {
  text-decoration: none;
  color: #ff0000;
}

.clearfix {
  clear: both;
  height: 0px;
}

.post .message, .abstract {
  font-size: 1.3rem;
  line-height: 140%;
}

.post h3 {
  margin-bottom: 0px;
}

.metadata {
  font-style: italic;
  margin: 3px 0px;
}

.stats {
  display: none;
}

.message {
  margin-left: 70px;
  width: 500px;
}

.post .message {
  margin-left: 100px;
}

.post .attachment {
  margin-left: 85px;
}

.ng-binding {
  white-space: pre-wrap;
}

.attachment {
  background-color: #ebebeb;
  border: 1px solid #e0e0e0;
  margin: 5px 0px;
  padding: 15px;
  min-width: 360px;
  max-width: 500px;
  width: 50%;
  margin-left: 55px;
  margin-top: 15px;
  border-radius: 3px;
}

.attachment h3, .attachment h5 {
  margin-top: 0px;
  margin-bottom: 3px;
}

.attachment img {
  float: left;
  margin-right: 20px;
  max-height: 100px;
  max-width: 250px;
  width: auto;
}

img.avatar {
  float: left;
  margin: 0px 20px 20px 0px;
}

.comments {
  clear: both;
}

.comment {
  clear: both;
  padding-left: 5px;
  padding-bottom: 2px;
  border-left: 5px solid white;
}
.comment h4 {
  margin-bottom: 0px;
}
.comment.is-author {
  border-left: 4px solid #cbd6db;
}

table {
  width: 80%;
  margin-top: 15px;
}

thead {
  font-style: italic;
}

tr.inactive {
  color: #808080;
}
