@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

@section Head {
  <meta property="og:title" content="Skepti-Forum Archive" />
  <meta property="og:description" content="Provides a searchable index of all public threads from the Skepti-Forum Project's 15+ Facebook groups.'" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://archive.skeptiforum.org" />
  <meta property="og:image" content="http://skeptiforum.org/wp-content/uploads/2014/07/rsz_3skeptiforum2.jpg" />
  <meta property="og:site_name" content="Skepti-Forum Archive" />
  <meta property="og:locale" content="en_US" />
}

<main>

  <div class="message abstract">
    The <a href="http://skeptiforum.org/">Skepti-Forum project</a> provides civil, evidence-based discussions about important science-related topics. Our most active communities are on <a href="https://www.facebook.com/groups/SkeptiForum/">Facebook</a>; this site provides an archive of public discussions that have taken place there.
  </div>

  <script>
  (function() {
    var cx = '001242793625997283140:-0mmfx-dzby';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
  </script>
  <section class="search-results">
    <gcse:search></gcse:search>
  </section>

</main>

